<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/png" href="image/favicon.png"/>
	<title>SnapFind</title>

<link rel="stylesheet" href="css/gingerstyle.css">
<link rel="stylesheet" href="css/snapfind.css">


</head>
<body>


	{{{body}}}
	<script src="js/script.js"></script>
</body>
</html>