
<div style="padding-top:100px">
<div style="margin:0px auto;max-width:600px;text-align:center">
	<h1 class="brand title">SnapFind</h1>
		<form action="/" method="get">
			<input style="display:inline;font-size:1.2em;padding:10px;max-width:100%" type="text" id="q" name="q" value="{{queries.request.[0].searchTerms}}" autofocus placeholder="What do you want to find?" size=30>
			<!-- <input type="submit" value="Sök"> -->
		<!--	<input style="display:inline" type="checkbox" id="raw" name="raw"> -->
		</form> 
		<p><a style="margin:0 10px;" href="/">Settings</a> <a href="/" style="margin:0 10px;">About</a></p>
</div>
</div>